<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kauai's Hindu Monastery</title>
	<meta name="author" content="Kauai's Hindu Monastery" />
	<meta name="description" content="Description about Kauai's Hindu Monastery" />
	<meta name="viewport" content="width=device-width, maximum-scale=1.0" /> 
	<script type="text/javascript" src="http://use.typekit.com/jpt0led.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="a/css/style.css" type="text/css" media="screen, projection" />
	<noscript><link rel="stylesheet" href="a/css/noscript.css" type="text/css" media="screen, projection" /></noscript>
	<!--[if lt IE 10]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="a/css/ie9.css" />
	<![endif]-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="a/css/ie8.css" />
	<![endif]-->
	<!--[if lt IE 8]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="a/css/ie7.css" />
	<![endif]-->
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="a/js/jquery-ui-1.8.16.custom.min.js"></script>
	<script src="a/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script src="a/js/jquery.cycle.all.js"></script>
	<script src="a/js/jquery.scroll.min.js"></script>
	<script src="a/js/scripts.js"></script>
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="a/js/selectivizr-min.js"></script>
	<![endif]-->
</head>
<body class="skinny">

<div class="page-container">

	<aside class="pulldown" role="complementary">
			
		<div class="pulldown-content">
					
			<ul>
				<li><a href="#">Kauai's Hindu Monastery</a></li>
				<li><a href="#">Hinduism Today</a></li>
				<li><a href="#">Hindu Heritage Endowment</a></li>
				<li><a href="#">Minimela Store</a></li>
			</ul>
		
		</div>
	
	</aside> <!-- end header pulldown -->

	<header class="page-header">
	
		<div class="wrapper">
		<div class="inner-wrapper">
		
			<a class="logo" href="#"><h2>Kauai's Hindu Monastery</h2></a>
			
			<nav class="nav-global">
			
				<ul class="nav-parent">
					<li class="inactive"><a href="#">Monastery</a>
						<ul class="nav-child">
							<li><a href="#">About the Monastery</a></li>
							<li><a href="#">Guru Lineage &amp; Philosophy</a></li>
							<li><a href="#">Monastery Blog</a></li>
							<li><a href="#">Our Temples</a></li>
							<li><a href="#">Meet the Monks</a></li>
						</ul>
					</li>
					<li class="inactive"><a href="#">Read &amp; Learn</a>
						<ul class="nav-child">
							<li><a href="#">Basics of Hinduism</a></li>
							<li><a href="#">Books</a></li>
							<li><a href="#">Hinduism Today Magazine</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">For Teachers &amp; Parents</a></li>
							<li><a href="#">For the Media</a></li>
							<li><a href="#">Other Languages</a></li>
						</ul>
					</li>
					<li class="inactive"><a href="#">Look &amp; Listen</a>
						<ul class="nav-child">
							<li><a href="#">Talks By Our Gurus</a></li>
							<li><a href="#">Videos</a></li>
							<li><a href="#">Art &amp; Photo Galleries</a></li>
							<li><a href="#">Chanting &amp; Songs</a></li>
							<li><a href="#">Podcasts</a></li>
						</ul>
					</li>
					<li class="inactive"><a href="#">Live Spiritually</a>
						<ul class="nav-child">
							<li class="cat-lorem-ipsum"><a href="#">Lorem Ipsum</a></li>
							<li class="cat-consectetur-adipiscing"><a href="#">Consectetur adipiscing</a></li>
							<li class="cat-donec-pretium"><a href="#">Donec pretium</a></li>
						</ul>
					</li>
					<li class="active"><a href="#">Visit</a>
						<ul class="nav-child">
							<li class="cat-come-on-a-tour"><a href="#">Come On a Tour</a></li>
							<li class="cat-take-a-virtual-tour"><a href="#">Take a Virtual Tour</a></li>
							<li class="cat-daily-puja"><a href="#">Daily Puja</a></li>
							<li class="cat-come-on-a-pilgrimage"><a href="#">Come on a Pilgrimage</a></li>
							<li class="cat-our-center-in-mauritius"><a href="#">Our Center in Mauritius</a></li>
							<li class="cat-meet-us-when-we-travel"><a href="#">Meet Us When We Travel</a></li>
							<li class="cat-shop-online"><a href="#">Shop Online</a></li>
						</ul>
					</li>
				</ul>
			
			</nav> <!-- end global nav -->
			
			<h2 class="page-heading">Section Header</h2>
			
			<form class="form-search">
				<input type="text" value="search this site" />
				<input type="submit" value="search" title="search" />
				
				<a class="adv-search" title="Advanced Search" href="#">Advanced Search</a>
			</form>
		
		</div>
		</div> <!-- end header content wrapper -->
	
	</header> <!-- end page header -->
	
	<div class="page-wrapper">
	
		<aside class="sidebar" role="complementary">
		
			<h3 class="h3 header">Visitor Information</h3>
			<ul class="nav-sidebar">
				<li><a href="#">Tour Reservations</a></li>
				<li><a href="#">Directions</a></li>
				<li><a href="#">Dress Code</a></li>
				<li><a href="#">Information For Tourists</a></li>
				<li><a href="#">Infomation For Pilgrims</a></li>
				<li><a href="#">Meeting With Bodhinatha</a></li>
			</ul>
			
			<h3 class="h3 header">Our Temples</h3>
			<ul class="nav-sidebar">
				<li><a href="#">Iraivan Temple</a></li>
				<li><a href="#">Kadavui Temple</a></li>
			</ul>
		
		</aside> <!-- end sidebar -->
	
		<section class="page-content" role="main">
			
			<div class="wrapper">
			
				<section class="slideshow" role="region">
				
					<ul class="slidecontrol-nextprev">
						<li class="arrow-prev"><a href="#">Previous Slide</a></li>
						<li class="arrow-next"><a href="#">Next Slide</a></li>
					</ul>
					
					<div class="slides">
				
						<figure class="slide">
							<img src="FPO/slides-example-1.jpg" alt="photo of ..." />
							<figcaption class="caption">Full Width Image: 726px Wide</figcaption>
						</figure>
						
						<figure class="slide">
							<img src="FPO/slides-example-1.jpg" alt="photo of ..." />
							<figcaption class="caption">Full Width Image: 726px Wide</figcaption>
						</figure>
					
					</div>
					
					<div class="slidecontrol-select">
						
					</div>
				
				</section> <!-- end slideshow -->
				
				<article class="content-article">
				
					<div class="article-wrapper">
				
						<h1 class="h1">H1 Headline</h1>
						
						<p>We are happy that you are planning to visit our humble home on the garden island of Kauai. Please read the appropriate section below which best describes the intention of your visit.</p>
						
						<p><em>The temple is open between 9am and 12 noon daily for worship. Make your plans to come in the morning.</em></p>
						
						<p><a class="action" href="#">Call to action</a></p>
						
						
						<h2 class="h2">Second Level Headline</h2>
						
						<p>If you are interested in a tour of the monastery grounds, please call toll free 1-888-735-1619 to find out upcoming tour dates and reserve your parking space. Reservations are not required if you arrive by taxi and the taxi does not stay. Lorem ipsum dolor sit amet, consectetur adipi
		sicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						<figure class="quote quote-photo float-left">
							<img src="FPO/blockquote-image.png" alt="Photo of ... " />
							<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</blockquote>
							<figcaption>&#8212;Bodhinatha</figcaption>
						</figure>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						
						
						<h3 class="h3">Third Level Headline</h3>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						
						<h4 class="h4">Fourth Level Headline</h4>
						
						<figure class="quote float-left">
							<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</blockquote>
							<figcaption>&#8212;Bodhinatha</figcaption>
						</figure>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint</p>
						
						
						<h5 class="h5">Fifth Level Headline</h5>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						
						
						<h6 class="h6">Sixth Level Headline</h6>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						
						<img class="float-left" src="FPO/img-halfwidth.png" alt="image description" />
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						
						<img class="float-right" src="FPO/img-23rdwidth.png" alt="image description" />
						
						<ul>
							<li>Lorem ipsum dolor sit amet</li>
							<li>Consectetur adipiscing elit</li>
							<li>Donec pretium enim lacinia</li>
							<li>Scelerisque aliquet</li>
							<li>Duis vitae eros in sem mollis</li>
						</ul>
						
						<ol>
							<li>Lorem ipsum dolor sit amet</li>
							<li>Consectetur adipiscing elit</li>
							<li>Donec pretium enim lacinia</li>
							<li>Scelerisque aliquet</li>
							<li>Duis vitae eros in sem mollis</li>
						</ol>
					
					</div> <!-- end article wrapper -->
					
				</article> <!-- end article -->
				
				<article class="content-article alt-article">
				
					<div class="article-wrapper">
				
						<h3 class="h1">Monastic Retreat Days</h3>
						
						<p>Please note that our monastery follows the traditional lunar calendar, panchangam. The table below shows dates when the offices and some parts of the monastery grounds including Iraivan Temple are closed (the monastery's Kadavul Hindu Temple remains open every day).</p>
						
						<div class="calendar retreat">
						
							<table class="calendar-month">
								<tr><th>October 2011</th></tr>
								<tr>
									<td>1</td> <td>2</td> <td title="closed"><em>3</em></td> <td title="closed"><em>4</em></td> <td>5</td> <td>6</td> <td>7</td>
								</tr>
								<tr>
									<td>8</td> <td>9</td> <td title="closed"><em>10</em></td> <td title="closed"><em>11</em></td> <td>12</td> <td>13</td> <td>14</td>
								</tr>
								<tr>
									<td>15</td> <td>16</td> <td>17</td> <td>18</td> <td title="closed"><em>19</em></td> <td title="closed"><em>20</em></td> <td>21</td>
								</tr>
								<tr>
									<td>22</td> <td>23</td> <td>24</td> <td>25</td> <td title="closed"><em>26</em></td> <td title="closed"><em>27</em></td> <td>28</td>
								</tr>
								<tr>
									<td>29</td> <td>30</td> <td>31</td> <td></td> <td></td> <td></td> <td></td>
								</tr>
							</table>
							
							<table class="calendar-month">
								<tr><th>November 2011</th></tr>
								<tr>
									<td>1</td> <td title="closed"><em>2</em></td> <td title="closed"><em>3</em></td> <td>4</td> <td>5</td> <td>6</td> <td>7</td>
								</tr>
								<tr>
									<td>8</td> <td title="closed"><em>9</em></td> <td title="closed">10</td> <td>11</td> <td>12</td> <td>13</td> <td>14</td>
								</tr>
								<tr>
									<td>15</td> <td>16</td> <td>17</td> <td title="closed">18</td> <td title="closed">19</td> <td>20</td> <td>21</td>
								</tr>
								<tr>
									<td>22</td> <td>23</td> <td title="closed">24</td> <td title="closed">25</td> <td>26</td> <td>27</td> <td>28</td>
								</tr>
								<tr>
									<td>29</td> <td>30</td> <td></td> <td></td> <td></td> <td></td> <td></td>
								</tr>
							</table>
							
							<table class="calendar-month">
								<tr><th>December 2011</th></tr>
								<tr title="closed">
									<td><em>1</em></td> <td><em>2</em></td> <td><em>3</em></td> <td><em>4</em></td> <td><em>5</em></td> <td><em>6</em></td> <td><em>7</em></td>
								</tr>
								<tr title="closed">
									<td><em>8</em></td> <td><em>9</em></td> <td><em>10</em></td> <td><em>11</em></td> <td><em>12</em></td> <td><em>13</em></td> <td><em>14</em></td>
								</tr>
								<tr>
									<td>15</td> <td>16</td> <td title="closed"><em>17</em></td> <td title="closed"><em>18</em></td> <td>19</td> <td>20</td> <td>21</td>
								</tr>
								<tr>
									<td>22</td> <td title="closed"><em>23</em></td> <td title="closed"><em>24</em></td> <td>25</td> <td>26</td> <td>27</td> <td>28</td>
								</tr>
								<tr>
									<td>29</td> <td>30</td> <td title="closed"><em>31</em></td> <td></td> <td></td> <td></td> <td></td>
								</tr>
							</table>
						
						</div>
						
					</div> <!-- end article wrapper -->
				
				</article> <!-- end article -->
				
				<article class="content-article">
					
					<div class="article-wrapper">
				
						<h3 class="h2">Table Styles</h3>
						
						<table class="table-standard">
							<tr class="headings"><th>Heading</th> <th>Heading</th> <th>Heading</th></tr>
							<tr>
								<td>Table Cell Item 1</td> <td>Table Cell Item 1</td> <td>Table Cell Item 1</td>
							</tr>
							<tr>
								<td>Another Item</td> <td>Another Item</td> <td>Another Item</td>
							</tr>
							<tr>
								<td>Table Cell Item 3 <sup>&#8224;</sup></td> <td>Table Cell Item 3 <sup>&#8224;</sup></td> <td>Table Cell Item 3 <sup>&#8224;</sup></td>
							</tr>
							<tr>
								<td>Cell Item 4 <sup>&#8225;</sup></td> <td>Cell Item 4 <sup>&#8225;</sup></td> <td>Cell Item 4 <sup>&#8225;</sup></td>
							</tr>
						</table>
						
						<aside class="footnotes">
							<p><sup>&#8224;</sup>Footnote</p>
							<p><sup>&#8225;</sup>Footnote</p>
						</aside>
						
						<hr class="rule" />
						
						<form class="form-standard">
						
							<fieldset>
						
								<legend class="h2">Field Set Heading</legend>
								
								<label class="h6">Label 1</label>
								<input type="text" value="Input" />
								
								<label class="h6">Label 2</label>
								<input type="text" value="Input" />
								
								<label class="h6">Make a Selection Below</label>
								<select name="select-options">
									<option selected="selected" disabled="disabled">Choose One</option>
									<option value="1">Option 1</option>
									<option value="2">Option 2</option>
									<option value="3">Option 3</option>
								</select>
								
							</fieldset>
							
							<fieldset>
								
								<label class="h6">Choose One of the Following</label>
								<div class="radio">
									<input type="radio" id="radio1" name="radio-option" value="1" /> <label for="radio1" class="option">Option 1</label>
									<input type="radio" id="radio2" name="radio-option" value="2" /> <label for="radio2" class="option">Option 2</label>
									<input type="radio" id="radio3" name="radio-option" value="3" /> <label for="radio3" class="option">Option 3</label>
								</div>
								
								
								<label class="h6">Choose One of the Following</label>
								<div class="checkbox">
									<input type="checkbox" id="check1" value="1" /> <label for="check1" class="option">Option 1</label>
									<input type="checkbox" id="check2" value="2" /> <label for="check2" class="option">Option 2</label>
									<input type="checkbox" id="check3" value="3" /> <label for="check3" class="option">Option 3</label>
								</div>
								
								<label class="h6">Your Question or Comment</label>
								<textarea class="message"></textarea>
								
								<input class="commentsubmit" type="submit" value="Comment" />
						
							</fieldset>
						
						</form>
					
					</div> <!-- end article wrapper -->
				
				</article> <!-- end article -->
			
			</div> <!-- end page content wrapper -->
		
		</section> <!-- end page content -->
	
	</div> <!-- end page wrapper -->
	
	<footer class="page-footer">
	
		<div class="wrapper">
		
			<ul class="social">
				<li class="twitter"><a href="#">Twitter</a></li>
				<li class="facebook"><a href="#">Facebook</a></li>
				<li class="youtube"><a href="#">YouTube</a></li>
				<li class="rss"><a href="#">RSS</a></li>
			</ul>
		
			<nav class="nav-footer">
			
				<ul class="nav-parent">
					<li><a href="#">Shop</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Donate</a></li>
					<li><a href="#">How Can I Help?</a></li>
					<li><a href="#">Subscribe by email/RSS</a></li>
				</ul>
				
				<form class="footer-info">
				
					<label>More Information For:</label>
					<select name="select-options">
						<option selected="selected" disabled="disabled">Choose One</option>
						<option value="parents">Parents</option>
						<option value="children">Children</option>
						<option value="teachers">Teachers</option>
						<option value="students">Students</option>
					</select>
				
				</form>
			
			</nav> <!-- end footer navigation -->
			
			<p class="copyright">Copyright &copy; 2011 Kauai's Hindu Monastery. All rights reserved.</p>
			
			<aside class="footer-regions" role="complementary">
			
				<div class="footer-content">
					<p>here's some stuff for parents!</p>
				</div> <!-- end footer content -->
				
				<div class="footer-content">
					
					<div class="column">
					
						<h4 class="h4 media-book">Children's Books</h4>
						<ul>
							<li><a href="#">Lorem ipsum dolor sit amet</a></li>
							<li><a href="#">Consectetur adipiscing elit</a></li>
							<li><a href="#">Donec pretium enim lacinia</a></li>
							<li><a href="#">Scelerisque aliquet</a></li>
							<li><a href="#">Duis vitae eros in sem mollis</a></li>
						</ul>
					
					</div>
					
					<div class="column">
					
						<h4 class="h4">Quick Links</h4>
						<ul>
							<li><a href="#">Lorem ipsum dolor sit amet</a></li>
							<li><a href="#">Consectetur adipiscing elit</a></li>
							<li><a href="#">Donec pretium enim lacinia</a></li>
							<li><a href="#">Scelerisque aliquet</a></li>
							<li><a href="#">Duis vitae eros in sem mollis</a></li>
						</ul>
					
					</div>
					
					<div class="column">
					
						<h4 class="h4">Related Content</h4>
						<ul>
							<li class="media-podcast"><a href="#">Podcast For Children</a></li>
							<li class="media-slides"><a href="#">Slideshow of Art From Books</a></li>
							<li class="media-video"><a href="#">Video Content</a></li>
						</ul>
					
					</div>
					
					<div class="vcard column">
					
						<div class="org">Himalayan Academy</div>
						<div class="adr">
							<em>Kauai's Hindu Monastery</em>
							<div class="street-address">107 Kaholalele Road</div>
							<span class="locality">Kapaa</span>, <span class="region">HI</span> <span class="postal-code">96746-9304</span>
						</div>
						<a class="email" href="mailto:contact@hindu.org">contact@hindu.org</a>
					
					</div>
					
				</div> <!-- end footer content -->
				
				<div class="footer-content">
					
					<p>Some more content goes here</p>
					
				</div> <!-- end footer content -->
				
				<div class="footer-content">
					
					<p>A fourth section for good measure</p>
					
				</div> <!-- end footer content -->
			
			</aside> <!-- end footer regions -->
			
		</div> <!-- end footer wrapper -->
	
	</footer> <!-- end page footer -->

</div> <!-- end page container -->

</body>
</html>