<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kauai's Hindu Monastery Blog</title>
	<meta name="author" content="Kauai's Hindu Monastery" />
	<meta name="description" content="Description about Kauai's Hindu Monastery" />
	<meta name="viewport" content="width=device-width, maximum-scale=1.0" /> 
	<script type="text/javascript" src="http://use.typekit.com/jpt0led.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="screen, projection" />
	<noscript><link rel="stylesheet" href="/assets/css/noscript.css" type="text/css" media="screen, projection" /></noscript>
	<!--[if lt IE 10]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="/assets/css/ie9.css" />
	<![endif]-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="/assets/css/ie8.css" />
	<![endif]-->
	<!--[if lt IE 8]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="/assets/css/ie7.css" />
	<![endif]-->
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="a/js/jquery-ui-1.8.16.custom.min.js"></script>
	<script src="a/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script src="a/js/jquery.cycle.all.js"></script>
	<script src="a/js/jquery.scroll.min.js"></script>
	<script src="a/js/scripts.js"></script>
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="a/js/selectivizr-min.js"></script>
	<![endif]-->
</head>
<body class="blog">

<div class="page-container">

	<aside class="pulldown" role="complementary">
			
		<div class="pulldown-content">
					
			<ul>
				<li><a href="#">Kauai's Hindu Monastery</a></li>
				<li><a href="#">Hinduism Today</a></li>
				<li><a href="#">Hindu Heritage Endowment</a></li>
				<li><a href="#">Minimela Store</a></li>
			</ul>
		
		</div>
	
	</aside> <!-- end header pulldown -->

	<header class="page-header">
	
		<div class="wrapper">
		<div class="inner-wrapper">
		
			<a class="logo" href="#"><h2>Kauai's Hindu Monastery</h2></a>
			
			<nav class="nav-global">
			
				<ul class="nav-parent">
					<li class="active"><a href="#">Monastery</a>
						<ul class="nav-child">
							<li class="cat-about-the-monastery"><a href="#">About the Monastery</a></li>
							<li class="cat-guru-lineage-philosphy"><a href="#">Guru Lineage &amp; Philosophy</a></li>
							<li class="cat-monastery-blog active"><a href="#">Monastery Blog</a></li>
							<li class="cat-our-temples"><a href="#">Our Temples</a></li>
							<li class="cat-meet-the-monks"><a href="#">Meet the Monks</a></li>
						</ul>
					</li>
					<li class="inactive"><a href="#">Read &amp; Learn</a>
						<ul class="nav-child">
							<li><a href="#">Basics of Hinduism</a></li>
							<li><a href="#">Books</a></li>
							<li><a href="#">Hinduism Today Magazine</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">For Teachers &amp; Parents</a></li>
							<li><a href="#">For the Media</a></li>
							<li><a href="#">Other Languages</a></li>
						</ul>
					</li>
					<li class="inactive"><a href="#">Look &amp; Listen</a>
						<ul class="nav-child">
							<li><a href="#">Talks By Our Gurus</a></li>
							<li><a href="#">Videos</a></li>
							<li><a href="#">Art &amp; Photo Galleries</a></li>
							<li><a href="#">Chanting &amp; Songs</a></li>
							<li><a href="#">Podcasts</a></li>
						</ul>
					</li>
					<li class="inactive"><a href="#">Live Spiritually</a>
						<ul class="nav-child">
							<li class="cat-lorem-ipsum"><a href="#">Lorem Ipsum</a></li>
							<li class="cat-consectetur-adipiscing"><a href="#">Consectetur adipiscing</a></li>
							<li class="cat-donec-pretium"><a href="#">Donec pretium</a></li>
						</ul>
					</li>
					<li class="inactive"><a href="#">Visit</a>
						<ul class="nav-child">
							<li class="cat-come-on-a-tour"><a href="#">Come On a Tour</a></li>
							<li class="cat-take-a-virtual-tour"><a href="#">Take a Virtual Tour</a></li>
							<li class="cat-daily-puja"><a href="#">Daily Puja</a></li>
							<li class="cat-come-on-a-pilgrimage"><a href="#">Come on a Pilgrimage</a></li>
							<li class="cat-our-center-in-mauritius"><a href="#">Our Center in Mauritius</a></li>
							<li class="cat-meet-us-when-we-travel"><a href="#">Meet Us When We Travel</a></li>
							<li class="cat-shop-online"><a href="#">Shop Online</a></li>
						</ul>
					</li>
				</ul>
			
			</nav> <!-- end global nav -->
			
			<h2 class="page-heading">Today at Kauai Aadheenam</h2>
			
			<form class="form-search">
				<input type="text" value="search this site" />
				<input type="submit" value="search" title="search" />
				
				<a class="adv-search" title="Advanced Search" href="#">Advanced Search</a>
			</form>
			
			<div class="feature">
				
				<figure class="quote quote-photo">
				
					<img src="FPO/img-blogfeature.jpg" alt="Photo of..." />
				
					<blockquote>Become a spiritual being. That is your goal, your liberation, for as the years go by you can live in heaven, or you can live in your own self-created hell, and you don't want to do that. Think about it and create a heaven right now by living with Siva.&quot;</blockquote>
					
					<figcaption>&#8212;Gurudeva, Satguru Sivaya Subramuniyaswami</figcaption>
				
				</figure>
			
			</div>
			
		</div>
		</div> <!-- end header content wrapper -->
	
	</header> <!-- end page header -->
	
	<div class="page-wrapper">
	
		<section class="page-content" role="main">
			
			<div class="wrapper">
			
				<article class="content-article">
				
					<div class="article-wrapper">
				
						<aside class="sidebar" role="complementary">
						
							<img class="img-feature" src="FPO/img-blogpost-post1-icon.png" alt="Picture of... " />
			
							<h3 class="h3 header topics">Topics</h3>
							<ul class="nav-sidebar">
								<li><a href="#">Teaching Missions</a></li>
								<li><a href="#">Travel</a></li>
							</ul>
						
						</aside> <!-- end sidebar -->
					
						<header class="article-header">
						
							<time pubdate class="timestamp" datetime="2011-09-25">Sunday, September 25th, 2011</time>
						
							<h3 class="h1"><a href="#">Hindu Mandir Executives Conference</a></h3>
						
						</header>
						
						<div class="article-body">
				
							<section class="slideshow" role="region">
							
								<ul class="slidecontrol-nextprev">
									<li class="arrow-prev"><a href="#">Previous Slide</a></li>
									<li class="arrow-next"><a href="#">Next Slide</a></li>
								</ul>
								
								<div class="slides">
							
									<figure class="slide">
										<img src="FPO/slides-example-2.jpg" alt="photo of ..." />
										<figcaption class="caption">Caption goes here</figcaption>
									</figure>
									
									<figure class="slide">
										<img src="FPO/slides-example-2.jpg" alt="photo of ..." />
										<figcaption class="caption">Caption goes here</figcaption>
									</figure>
								
								</div>
								
								<div class="slidecontrol-select">

								</div>
							
							</section> <!-- end slideshow -->
							
							<p>Two of our swamis, Paramacharya Sadasivanatha Palaniswami and Sannyasin Senthilnathaswami, are attending the Sixth Annual Hindu Mandir Executives' Conference (HMEC) in Columbus, Ohio, today. This year, about 250 people are attending, representing Hindu organizations of all kinds from around North America, even one all the way from Australia.</p>
							
							<p>The messages here are more mature and relevant than in past conferences. Youth are more seriously engaged, telling us their uncles have been listening and are now giving them full responsibilities in their mandirs instead of orders. There are over 70 youth delegates at the conference this year!</p>
							
							<footer class="article-footer">
							
								<a class="action" href="#">Continue Reading</a>
								
								<a class="action comments" href="#">6 Comments</a>
							
							</footer>
						
						</div> <!-- end article body -->
					
					</div> <!-- end article wrapper -->
				
				</article> <!-- end content article -->
				
				<article class="content-article alt-article">
				
					<div class="article-wrapper">
					
						<aside class="sidebar" role="complementary">
						
							<img class="img-feature" src="FPO/img-blogpost-post2-icon.png" alt="Picture of... " />
						
						</aside> <!-- end sidebar -->
					
						<header class="article-header">
						
							<time pubdate class="timestamp" datetime="2011-09-22">Saturday, September 22nd, 2011</time>
						
							<h3 class="blogtitle"><a href="#">Today’s Monastery Twitter Updates</a></h3>
						
						</header>
						
						<div class="article-body">
						
							<img src="FPO/img-blogpost-example1.jpg" alt="Photo of..." />
							
							<blockquote>
								<p>&quot;Amma Corinne with son Tejadevanatha &amp; daughter Ashley (holding Roxanne the hibiscus) enjoy a garden tour.&quot;</p>
								<time class="timestamp" datetime="2011-09-22">9/22/11</time>
								<time class="timestamp">11:29</time>
							</blockquote>
							
							<blockquote>
								<p>&quot;Dr. George was in Sri Lanka in the early 60s, knew Yogaswami well and considered Swami his guru. He has many great stories to tell!&quot;</p>
								<time class="timestamp" datetime="2011-09-22">9/22/11</time>
								<time class="timestamp" datetime="2011-09-22T20:15Z">8:15</time>
							</blockquote>
							
							<footer class="article-footer">
							
								<a class="action" href="#">Continue Reading</a>
								
								<a class="action comments" href="#">6 Comments</a>
							
							</footer>
						
						</div> <!-- end article body -->
					
					</div> <!-- end article wrapper -->
				
				</article> <!-- end content article -->
				
				<div class="pagination">
				
					<ul>
				
						<li class="arrow-prev"><a href="#">Previous Page</a></li>
						
						<li class="pages">
							<ul>
								<li><a href="#">1</a></li>
								<li class="active">2</li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li>...</li>
								<li><a href="#">20</a></li>
							</ul>
						</li>
						
						<li class="arrow-next"><a href="#">Next Page</a></li>
					
					</ul>
				
				</div>
			
			</div> <!-- end page content wrapper -->
			
			<section class="tabbed-content-container">
			
					<ul class="tabs">
						<li><a href="#">Blog Resources</a></li>
						<li><a href="#">Archives</a></li>
					</ul>
					
				<div class="tabbed-content tabulate">
			
					<div>
					
						<p>Content!</p>
					
					</div>
					
					<div class="calendar">
					
						<form class="archives-select">
							
							<select name="select-archive-year">
								<option value="2011">2011</option>
								<option value="2010">2010</option>
								<option value="2009">2009</option>
							</select>
							
						</form>
					
						<ul class="archives-pagination">
							<li class="arrow-prev"><a href="#">Previous</a></li>
							<li class="arrow-next"><a href="#">Next</a></li>
						</ul>
						
						<div class="paginate">
						
							<div class="months">
						
								<table class="calendar-month">
									<tr><th>September 2011</th></tr>
									<tr>
										<td><a href="#">1</a></td> <td><a href="#">2</a></td> <td><a href="#">3</a></td> <td><a href="#">4</a></td> <td><a href="#">5</a></td> <td><a href="#">6</a></td> <td><a href="#">7</a></td>
									</tr>
									<tr>
										<td><a href="#">8</a></td> <td><a href="#">9</a></td> <td><a href="#">10</a></td> <td><a href="#">11</a></td> <td><a href="#">12</a></td> <td><a href="#">13</a></td> <td><a href="#">14</a></td>
									</tr>
									<tr>
										<td><a href="#">15</a></td> <td><a href="#">16</a></td> <td><a href="#">17</a></td> <td><a href="#">18</a></td> <td><a href="#">19</a></td> <td><a href="#">20</a></td> <td><a href="#">21</a></td>
									</tr>
									<tr>
										<td><a href="#">22</a></td> <td><a href="#">23</a></td> <td><a href="#">24</a></td> <td><a href="#">25</a></td> <td><a href="#">26</a></td> <td><a href="#">27</a></td> <td><a href="#">28</a></td>
									</tr>
									<tr>
										<td><a href="#">29</a></td> <td><a href="#">30</a></td> <td></td> <td></td> <td></td> <td></td> <td></td>
									</tr>
								</table>
								
								<table class="calendar-month">
									<tr><th>October 2011</th></tr>
									<tr>
										<td><a href="#">1</a></td> <td><a href="#">2</a></td> <td><a href="#">3</a></td> <td><a href="#">4</a></td> <td><a href="#">5</a></td> <td><a href="#">6</a></td> <td><a href="#">7</a></td>
									</tr>
									<tr>
										<td><a href="#">8</a></td> <td><a href="#">9</a></td> <td><a href="#">10</a></td> <td><a href="#">11</a></td> <td><a href="#">12</a></td> <td><a href="#">13</a></td> <td><a href="#">14</a></td>
									</tr>
									<tr>
										<td><a href="#">15</a></td> <td><a href="#">16</a></td> <td><a href="#">17</a></td> <td><a href="#">18</a></td> <td><a href="#">19</a></td> <td><a href="#">20</a></td> <td><a href="#">21</a></td>
									</tr>
									<tr>
										<td><a href="#">22</a></td> <td><a href="#">23</a></td> <td><a href="#">24</a></td> <td><a href="#">25</a></td> <td><a href="#">26</a></td> <td><a href="#">27</a></td> <td><a href="#">28</a></td>
									</tr>
									<tr>
										<td><a href="#">29</a></td> <td><a href="#">30</a></td> <td><a href="#">31</a></td> <td></td> <td></td> <td></td> <td></td>
									</tr>
								</table>
										
								<table class="calendar-month">
									<tr><th>November 2011</th></tr>
									<tr>
										<td><a href="#">1</a></td> <td><a href="#">2</a></td> <td><a href="#">3</a></td> <td><a href="#">4</a></td> <td><a href="#">5</a></td> <td><a href="#">6</a></td> <td><a href="#">7</a></td>
									</tr>
									<tr>
										<td><a href="#">8</a></td> <td><a href="#">9</a></td> <td><a href="#">10</a></td> <td><a href="#">11</a></td> <td><a href="#">12</a></td> <td><a href="#">13</a></td> <td><a href="#">14</a></td>
									</tr>
									<tr>
										<td><a href="#">15</a></td> <td><a href="#">16</a></td> <td><a href="#">17</a></td> <td><a href="#">18</a></td> <td><a href="#">19</a></td> <td><a href="#">20</a></td> <td><a href="#">21</a></td>
									</tr>
									<tr>
										<td><a href="#">22</a></td> <td><a href="#">23</a></td> <td><a href="#">24</a></td> <td><a href="#">25</a></td> <td><a href="#">26</a></td> <td><a href="#">27</a></td> <td><a href="#">28</a></td>
									</tr>
									<tr>
										<td><a href="#">29</a></td> <td><a href="#">30</a></td> <td></td> <td></td> <td></td> <td></td> <td></td>
									</tr>
								</table>
									
								<table class="calendar-month">
									<tr><th>December 2011</th></tr>
									<tr>
										<td><a href="#">1</a></td> <td><a href="#">2</a></td> <td><a href="#">3</a></td> <td><a href="#">4</a></td> <td><a href="#">5</a></td> <td title="current"><em>6</em></td> <td><a href="#">7</a></td>
									</tr>
									<tr>
										<td><a href="#">8</a></td> <td><a href="#">9</a></td> <td><a href="#">10</a></td> <td><a href="#">11</a></td> <td><a href="#">12</a></td> <td><a href="#">13</a></td> <td><a href="#">14</a></td>
									</tr>
									<tr>
										<td><a href="#">15</a></td> <td><a href="#">16</a></td> <td><a href="#">17</a></td> <td><a href="#">18</a></td> <td><a href="#">19</a></td> <td><a href="#">20</a></td> <td><a href="#">21</a></td>
									</tr>
									<tr>
										<td><a href="#">22</a></td> <td><a href="#">23</a></td> <td><a href="#">24</a></td> <td><a href="#">25</a></td> <td><a href="#">26</a></td> <td><a href="#">27</a></td> <td><a href="#">28</a></td>
									</tr>
									<tr>
										<td><a href="#">29</a></td> <td><a href="#">30</a></td> <td><a href="#">31</a></td> <td></td> <td></td> <td></td> <td></td>
									</tr>
								</table>
							
							</div> <!-- end current months -->
							
							<div class="months">
								
									<table class="calendar-month">
									<tr><th>January 2011</th></tr>
									<tr>
										<td><a href="#">1</a></td> <td><a href="#">2</a></td> <td><a href="#">3</a></td> <td><a href="#">4</a></td> <td><a href="#">5</a></td> <td title="current"><em>6</em></td> <td><a href="#">7</a></td>
									</tr>
									<tr>
										<td><a href="#">8</a></td> <td><a href="#">9</a></td> <td><a href="#">10</a></td> <td><a href="#">11</a></td> <td><a href="#">12</a></td> <td><a href="#">13</a></td> <td><a href="#">14</a></td>
									</tr>
									<tr>
										<td><a href="#">15</a></td> <td><a href="#">16</a></td> <td><a href="#">17</a></td> <td><a href="#">18</a></td> <td><a href="#">19</a></td> <td><a href="#">20</a></td> <td><a href="#">21</a></td>
									</tr>
									<tr>
										<td><a href="#">22</a></td> <td><a href="#">23</a></td> <td><a href="#">24</a></td> <td><a href="#">25</a></td> <td><a href="#">26</a></td> <td><a href="#">27</a></td> <td><a href="#">28</a></td>
									</tr>
									<tr>
										<td><a href="#">29</a></td> <td><a href="#">30</a></td> <td><a href="#">31</a></td> <td></td> <td></td> <td></td> <td></td>
									</tr>
								</table>
									<table class="calendar-month">
									<tr><th>February 2011</th></tr>
									<tr>
										<td><a href="#">1</a></td> <td><a href="#">2</a></td> <td><a href="#">3</a></td> <td><a href="#">4</a></td> <td><a href="#">5</a></td> <td title="current"><em>6</em></td> <td><a href="#">7</a></td>
									</tr>
									<tr>
										<td><a href="#">8</a></td> <td><a href="#">9</a></td> <td><a href="#">10</a></td> <td><a href="#">11</a></td> <td><a href="#">12</a></td> <td><a href="#">13</a></td> <td><a href="#">14</a></td>
									</tr>
									<tr>
										<td><a href="#">15</a></td> <td><a href="#">16</a></td> <td><a href="#">17</a></td> <td><a href="#">18</a></td> <td><a href="#">19</a></td> <td><a href="#">20</a></td> <td><a href="#">21</a></td>
									</tr>
									<tr>
										<td><a href="#">22</a></td> <td><a href="#">23</a></td> <td><a href="#">24</a></td> <td><a href="#">25</a></td> <td><a href="#">26</a></td> <td><a href="#">27</a></td> <td><a href="#">28</a></td>
									</tr>
									<tr>
										<td><a href="#">29</a></td> <td><a href="#">30</a></td> <td><a href="#">31</a></td> <td></td> <td></td> <td></td> <td></td>
									</tr>
								</table>
								<table class="calendar-month">
									<tr><th>May 2011</th></tr>
									<tr>
										<td><a href="#">1</a></td> <td><a href="#">2</a></td> <td><a href="#">3</a></td> <td><a href="#">4</a></td> <td><a href="#">5</a></td> <td title="current"><em>6</em></td> <td><a href="#">7</a></td>
									</tr>
									<tr>
										<td><a href="#">8</a></td> <td><a href="#">9</a></td> <td><a href="#">10</a></td> <td><a href="#">11</a></td> <td><a href="#">12</a></td> <td><a href="#">13</a></td> <td><a href="#">14</a></td>
									</tr>
									<tr>
										<td><a href="#">15</a></td> <td><a href="#">16</a></td> <td><a href="#">17</a></td> <td><a href="#">18</a></td> <td><a href="#">19</a></td> <td><a href="#">20</a></td> <td><a href="#">21</a></td>
									</tr>
									<tr>
										<td><a href="#">22</a></td> <td><a href="#">23</a></td> <td><a href="#">24</a></td> <td><a href="#">25</a></td> <td><a href="#">26</a></td> <td><a href="#">27</a></td> <td><a href="#">28</a></td>
									</tr>
									<tr>
										<td><a href="#">29</a></td> <td><a href="#">30</a></td> <td><a href="#">31</a></td> <td></td> <td></td> <td></td> <td></td>
									</tr>
								</table>
								<table class="calendar-month">
									<tr><th>April 2011</th></tr>
									<tr>
										<td><a href="#">1</a></td> <td><a href="#">2</a></td> <td><a href="#">3</a></td> <td><a href="#">4</a></td> <td><a href="#">5</a></td> <td title="current"><em>6</em></td> <td><a href="#">7</a></td>
									</tr>
									<tr>
										<td><a href="#">8</a></td> <td><a href="#">9</a></td> <td><a href="#">10</a></td> <td><a href="#">11</a></td> <td><a href="#">12</a></td> <td><a href="#">13</a></td> <td><a href="#">14</a></td>
									</tr>
									<tr>
										<td><a href="#">15</a></td> <td><a href="#">16</a></td> <td><a href="#">17</a></td> <td><a href="#">18</a></td> <td><a href="#">19</a></td> <td><a href="#">20</a></td> <td><a href="#">21</a></td>
									</tr>
									<tr>
										<td><a href="#">22</a></td> <td><a href="#">23</a></td> <td><a href="#">24</a></td> <td><a href="#">25</a></td> <td><a href="#">26</a></td> <td><a href="#">27</a></td> <td><a href="#">28</a></td>
									</tr>
									<tr>
										<td><a href="#">29</a></td> <td><a href="#">30</a></td> <td><a href="#">31</a></td> <td></td> <td></td> <td></td> <td></td>
									</tr>
								</table>
							
							</div>  <!-- end current months -->
							
							<div class="months">
						
								<table class="calendar-month">
									<tr><th>May 2011</th></tr>
									<tr>
										<td><a href="#">1</a></td> <td><a href="#">2</a></td> <td><a href="#">3</a></td> <td><a href="#">4</a></td> <td><a href="#">5</a></td> <td><a href="#">6</a></td> <td><a href="#">7</a></td>
									</tr>
									<tr>
										<td><a href="#">8</a></td> <td><a href="#">9</a></td> <td><a href="#">10</a></td> <td><a href="#">11</a></td> <td><a href="#">12</a></td> <td><a href="#">13</a></td> <td><a href="#">14</a></td>
									</tr>
									<tr>
										<td><a href="#">15</a></td> <td><a href="#">16</a></td> <td><a href="#">17</a></td> <td><a href="#">18</a></td> <td><a href="#">19</a></td> <td><a href="#">20</a></td> <td><a href="#">21</a></td>
									</tr>
									<tr>
										<td><a href="#">22</a></td> <td><a href="#">23</a></td> <td><a href="#">24</a></td> <td><a href="#">25</a></td> <td><a href="#">26</a></td> <td><a href="#">27</a></td> <td><a href="#">28</a></td>
									</tr>
									<tr>
										<td><a href="#">29</a></td> <td><a href="#">30</a></td> <td></td> <td></td> <td></td> <td></td> <td></td>
									</tr>
								</table>
								
								<table class="calendar-month">
									<tr><th>June 2011</th></tr>
									<tr>
										<td><a href="#">1</a></td> <td><a href="#">2</a></td> <td><a href="#">3</a></td> <td><a href="#">4</a></td> <td><a href="#">5</a></td> <td><a href="#">6</a></td> <td><a href="#">7</a></td>
									</tr>
									<tr>
										<td><a href="#">8</a></td> <td><a href="#">9</a></td> <td><a href="#">10</a></td> <td><a href="#">11</a></td> <td><a href="#">12</a></td> <td><a href="#">13</a></td> <td><a href="#">14</a></td>
									</tr>
									<tr>
										<td><a href="#">15</a></td> <td><a href="#">16</a></td> <td><a href="#">17</a></td> <td><a href="#">18</a></td> <td><a href="#">19</a></td> <td><a href="#">20</a></td> <td><a href="#">21</a></td>
									</tr>
									<tr>
										<td><a href="#">22</a></td> <td><a href="#">23</a></td> <td><a href="#">24</a></td> <td><a href="#">25</a></td> <td><a href="#">26</a></td> <td><a href="#">27</a></td> <td><a href="#">28</a></td>
									</tr>
									<tr>
										<td><a href="#">29</a></td> <td><a href="#">30</a></td> <td><a href="#">31</a></td> <td></td> <td></td> <td></td> <td></td>
									</tr>
								</table>
										
								<table class="calendar-month">
									<tr><th>July 2011</th></tr>
									<tr>
										<td><a href="#">1</a></td> <td><a href="#">2</a></td> <td><a href="#">3</a></td> <td><a href="#">4</a></td> <td><a href="#">5</a></td> <td><a href="#">6</a></td> <td><a href="#">7</a></td>
									</tr>
									<tr>
										<td><a href="#">8</a></td> <td><a href="#">9</a></td> <td><a href="#">10</a></td> <td><a href="#">11</a></td> <td><a href="#">12</a></td> <td><a href="#">13</a></td> <td><a href="#">14</a></td>
									</tr>
									<tr>
										<td><a href="#">15</a></td> <td><a href="#">16</a></td> <td><a href="#">17</a></td> <td><a href="#">18</a></td> <td><a href="#">19</a></td> <td><a href="#">20</a></td> <td><a href="#">21</a></td>
									</tr>
									<tr>
										<td><a href="#">22</a></td> <td><a href="#">23</a></td> <td><a href="#">24</a></td> <td><a href="#">25</a></td> <td><a href="#">26</a></td> <td><a href="#">27</a></td> <td><a href="#">28</a></td>
									</tr>
									<tr>
										<td><a href="#">29</a></td> <td><a href="#">30</a></td> <td></td> <td></td> <td></td> <td></td> <td></td>
									</tr>
								</table>
									
								<table class="calendar-month">
									<tr><th>August 2011</th></tr>
									<tr>
										<td><a href="#">1</a></td> <td><a href="#">2</a></td> <td><a href="#">3</a></td> <td><a href="#">4</a></td> <td><a href="#">5</a></td> <td title="current"><em>6</em></td> <td><a href="#">7</a></td>
									</tr>
									<tr>
										<td><a href="#">8</a></td> <td><a href="#">9</a></td> <td><a href="#">10</a></td> <td><a href="#">11</a></td> <td><a href="#">12</a></td> <td><a href="#">13</a></td> <td><a href="#">14</a></td>
									</tr>
									<tr>
										<td><a href="#">15</a></td> <td><a href="#">16</a></td> <td><a href="#">17</a></td> <td><a href="#">18</a></td> <td><a href="#">19</a></td> <td><a href="#">20</a></td> <td><a href="#">21</a></td>
									</tr>
									<tr>
										<td><a href="#">22</a></td> <td><a href="#">23</a></td> <td><a href="#">24</a></td> <td><a href="#">25</a></td> <td><a href="#">26</a></td> <td><a href="#">27</a></td> <td><a href="#">28</a></td>
									</tr>
									<tr>
										<td><a href="#">29</a></td> <td><a href="#">30</a></td> <td><a href="#">31</a></td> <td></td> <td></td> <td></td> <td></td>
									</tr>
								</table>
							</div>
							 <!-- end current months -->
					
						
						</div> <!-- end pagination container -->
							
					</div> <!-- end archives -->
				
				</div>
				
				<a class="action rss" href="#">Subscribe to RSS Feed</a>
			
			</section> <!-- end tabbed content -->
			
			<section class="picks">
			
				<h2 class="h2">Swamis' Picks</h2>
				
				<div class="tabulate">
			
					<div class="featured-pick">
					
						<div class="img-crop">
						
							<img src="FPO/Y11_sml.jpg" alt="Image of..." />
					
						</div>
						
						<p>Added on <time class="timestamp" datetime="2011-10-12">October 12th, 2011</time></p>
						
						<a class="action" href="#">View Slideshow</a>
					
					</div>
					
					<div class="featured-pick">
					
						<p>Content!</p>
					
					</div>
					
					<div class="featured-pick">
					
						<p>Content again!</p>
					
					</div>
				
				</div> <!--end picks paginated items -->
				
				<ul class="picks-nav scrollbar">
					<li><a class="pick-slides" href="#">Images from &quot;What is Hinduism?&quot; <img src="FPO/Y11_sml.jpg" alt="Image of..." /></a></li>
					<li><a class="pick-book" href="#">The Guru Chronicles <img src="FPO/img-picks-item2.jpg" alt="Image of..." /></a></li>
					<li><a class="pick-podcast" href="#">Gurudeva's Podcast <img src="FPO/img-picks-item3.jpg" alt="Image of..." /></a></li>
					<li><a class="pick-video" href="#">Featured Video <img src="FPO/img-picks-item4.jpg" alt="Image of..." /></a></li>
					<li><a class="pick-slides" href="#">Images from &quot;What is Hinduism?&quot; <img src="FPO/img-picks-item1.jpg" alt="Image of..." /></a></li>
					<li><a class="pick-book" href="#">The Guru Chronicles <img src="FPO/img-picks-item2.jpg" alt="Image of..." /></a></li>
					<li><a class="pick-podcast" href="#">Gurudeva's Podcast <img src="FPO/img-picks-item3.jpg" alt="Image of..." /></a></li>
					<li><a class="pick-video" href="#">Featured Video <img src="FPO/img-picks-item4.jpg" alt="Image of..." /></a></li>
				</ul>
			
			</section> <!-- end picks -->
		
		</section> <!-- end page content -->
	
	</div> <!-- end page wrapper -->
	
	<footer class="page-footer">
	
		<div class="wrapper">
		
			<ul class="social">
				<li class="twitter"><a href="#">Twitter</a></li>
				<li class="facebook"><a href="#">Facebook</a></li>
				<li class="youtube"><a href="#">YouTube</a></li>
				<li class="rss"><a href="#">RSS</a></li>
			</ul>
		
			<nav class="nav-footer">
			
				<ul class="nav-parent">
					<li><a href="#">Shop</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Donate</a></li>
					<li><a href="#">How Can I Help?</a></li>
					<li><a href="#">Subscribe by email/RSS</a></li>
				</ul>
				
				<form class="footer-info">
				
					<label>More Information For:</label>
					<select name="select-options">
						<option selected="selected" disabled="disabled">Choose One</option>
						<option value="parents">Parents</option>
						<option value="children">Children</option>
						<option value="teachers">Teachers</option>
						<option value="students">Students</option>
					</select>
				
				</form>
			
			</nav> <!-- end footer navigation -->
			
			<p class="copyright">Copyright &copy; 2011 Kauai's Hindu Monastery. All rights reserved.</p>
			
			<aside class="footer-regions" role="complementary">
			
				<div class="footer-content">
					<p>here's some stuff for parents!</p>
				</div> <!-- end footer content -->
				
				<div class="footer-content">
					
					<div class="column">
					
						<h4 class="h4 media-book">Children's Books</h4>
						<ul>
							<li><a href="#">Lorem ipsum dolor sit amet</a></li>
							<li><a href="#">Consectetur adipiscing elit</a></li>
							<li><a href="#">Donec pretium enim lacinia</a></li>
							<li><a href="#">Scelerisque aliquet</a></li>
							<li><a href="#">Duis vitae eros in sem mollis</a></li>
						</ul>
					
					</div>
					
					<div class="column">
					
						<h4 class="h4">Quick Links</h4>
						<ul>
							<li><a href="#">Lorem ipsum dolor sit amet</a></li>
							<li><a href="#">Consectetur adipiscing elit</a></li>
							<li><a href="#">Donec pretium enim lacinia</a></li>
							<li><a href="#">Scelerisque aliquet</a></li>
							<li><a href="#">Duis vitae eros in sem mollis</a></li>
						</ul>
					
					</div>
					
					<div class="column">
					
						<h4 class="h4">Related Content</h4>
						<ul>
							<li class="media-podcast"><a href="#">Podcast For Children</a></li>
							<li class="media-slides"><a href="#">Slideshow of Art From Books</a></li>
							<li class="media-video"><a href="#">Video Content</a></li>
						</ul>
					
					</div>
					
					<div class="vcard column">
					
						<div class="org">Himalayan Academy</div>
						<div class="adr">
							<em>Kauai's Hindu Monastery</em>
							<div class="street-address">107 Kaholalele Road</div>
							<span class="locality">Kapaa</span>, <span class="region">HI</span> <span class="postal-code">96746-9304</span>
						</div>
						<a class="email" href="mailto:contact@hindu.org">contact@hindu.org</a>
					
					</div>
					
				</div> <!-- end footer content -->
				
				<div class="footer-content">
					
					<p>Some more content goes here</p>
					
				</div> <!-- end footer content -->
				
				<div class="footer-content">
					
					<p>A fourth section for good measure</p>
					
				</div> <!-- end footer content -->
			
			</aside> <!-- end footer regions -->
			
		</div> <!-- end footer wrapper -->
	
	</footer> <!-- end page footer -->

</div> <!-- end page container -->

</body>
</html>